
body{
  font-size:30px;
  color:#333;
  line-height:1.6;
  background: #fff;
  font-family: "Lucida Grande","segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust: 100%;
  /*overflow: hidden;*/
  /*-ms-touch-action: none;*/
  margin: 0px 0px 0px 0px;
}

#wrapper{
/*  width:1364px;/*1366-2*/
  width:1222px;
/*  height: 1022px;/*1024-2*/
  border-style:solid;
  border-width:1px;
}

#mainContents{
  padding: 10px 10px 10px 20px;
}

/* ヘッダエリア */
#pageTitileName {
  font-size:40px;
  color:#ffffff;
  padding :10px;
  /*background: #5e5f91;*/
  background:#5e5f91;
  width:1200px;
  border-style:solid;
  border-width:1px;
  height: 80px;
  display: flex;
  align-items: center;

}

/* ヘッダのボタン位置 */
#pageTitileName input[type="button"] {
  position:absolute;
  display:inline-block;
}

/*１段組の出力スタイル(items)*/
#items {
  margin-top:15px;
  width: 100%;
  border-collapse: collapse;
}
#items tr{
  display: table-row;
}
#items th{
  border: 1px solid #929292;
  border-bottom: 1px solid #929292;
  /*background-color: #c4d8f0;*/
  background-color:#fff0f0;
  font-weight: normal;
  text-align: left;
  width: 250px;
  height:70px;
  padding: 5px 10px;
}
#items td{
  border: 1px solid #929292;
  padding: 5px 10px;
}


/**一覧系の画面の出力スタイル (list-items)*/
#list-items {
  font-size:24px;
  margin-top:15px;
  width: 100%;
  border-collapse: collapse;
}

#list-items th{
  border: 1px solid #929292;
  border-bottom: 1px solid #929292;
  /*background-color:#fce6e6;*/
  background-color:#fff0f0;
  font-weight: normal;
  text-align: left;
  /*width: 130px;*/
  padding: 5px 10px;
  vertical-align: top;
}

#list-items td {
  border: 1px solid #929292;
  padding: 5px 10px 5px 5px;
}

#help {
  left: 900px;
  font-size: 25px;
  padding:0.2em 1em;
  /*background:#e1f3ff;*/
  background:#ffd0d0;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
}

#topback {
  left: 1070px;
  font-size: 25px;
  padding:0.2em 1em;
  /*background:#e1f3ff;*/
  background:#ffd0d0;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
}

.itemsButton{
  display:inline-block;
  font-size: 25px;
  padding:0.2em 1em;
  /*background:#e1f3ff;*/
  /*background:#ffd0d0;*/
  background:#5e5f91;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
}

/* フッターボタンのエリア */
.footerbutton{
  position: absolute;
  display:inline-block;
  top:1400px;
  left:20px
}

.footerbutton .back{
  font-size: 25px;
  display:inline-block;
  padding:0.4em 3em;
  /*background:#e1f3ff;*/
  background:#ffd0d0;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
  position:absolute;
  left: 25px;
}

.footerbutton .next{
  font-size: 25px;
  /*display:inline-block;*/
  padding:0.4em 3em;
  /*background:#e1f3ff;*/
  /*background:#ffd0d0;*/
  background:#5e5f91;
  
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
  position:absolute;
  left: 1080px;

}


/* 検索のエリア */
#search-items {
  position: relative;
  display:inline-block;
  font-size:24px;
  left:30px;
  border:1px solid #ddd;
  border-radius:5px;
  padding:20px;
  margin:30px 0px 0px 0px;
}

#search-items input[type="text"], select {
  cursor:pointer;
  border-radius:.32rem;
  border:1px solid #6c6c6c;
  border:.0625rem solid #6c6c6c;
  outline:none;
  text-indent:.01px;
  text-overflow:'';
  padding:8px 24px 8px 12px;
  padding:.5rem 1.5rem .5rem .75rem;
  color:#757575
/*
 display:block;
  position:relative;
  z-index:9999;
  -webkit-appearance:none;
  -moz-appearance:none;appearance:none;line-height:1.5;
*/
}

#search-items input[type="text"] {
  width: 270px;
  height:30px;
  font-size:24px;
  position: relative;
  display:inline-block;
  /*top:1px;*/
}
 
#search-items select.year {
  width: 250px;
  height:55px;
  font-size:24px;
  position: relative;
  display:inline-block;
  /*top:3px;*/
}

#search-items select.month_day {
  width: 120px;
  height:55px;
  font-size:24px;
  position: relative;
  display:inline-block;
  /*top:1px;*/
}

/* パンくずのエリア */
#pankuzu {
  font-size:24px;
  color:#808080;
  background-color:#dcdcdc;
  border:0px solid #dcdcdc;
  border-radius: 40px;
  /*width: 100%;*/
}

#pankuzu td {
  padding: 5px 10px;
}

.kakomi {
  /*margin: 2em auto;*/  
  padding: 5px;
  /*width: 90%;*/ /*幅の調節*/
  /*color: #666666;*/ /*文字色*/
  background-color: #f7f7f7; /*背景色*/
  /*border: 2px solid #ccc;*/ /*線の太さ・色*/
  border-radius: 40px; /*角の丸み*/ 
}

/* 撮影用の印刷ボタン（画面中央に表示） */
.print{
  font-size: 25px;
  padding:0.4em 3em;
  background:#ffd0d0;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
  margin:270px 0px 0px 570px;
}
/***********************************************
キーパッドの調整:カナ氏名入力、ローマ字氏名入力
*************************************************/
#nameKeypad .keypadContainer {
  position: relative;
  top: 500px;
}

#nameKeypad .keypad-space {
  width: 75px;
}

#nameKeypad .keypad-KaBuShiKiKaiSya,
#nameKeypad .keypad-YuuGenKaiSya,
#nameKeypad .keypad-GaKouHouJin,
#nameKeypad .keypad-IRyouHouJin,
#nameKeypad .keypad-ZaiDanHouJin {
  width: 180px;
  height: 70px;
  line-height: 32px;
  margin: 0 0 12px 10px;
  font-family: sans-serif;
  background: #e4e4e4;
  color: #3f4a75;
  font-size: 30px;
  position: relative;
  top: 5px;
}

#nameKeypad .keypad-back {
  margin-top: 5px;
  height: 50px;
  width: 180px;
  font-size: 25px;
  background: #ffd700;
  color: #000000;
  /*border: none;*/
}

#nameKeypad .keypad-clear {
  margin-top: 5px;
  height: 50px;
  width: 180px;
  font-size: 25px;
  background: #ffd700;
  color: #000000;
  /*border: none;*/
}

#nameKeypad .keypad-spacebar {
  margin-top: 5px;
  margin-bottom: 30px;
  height: 50px;
  width: 180px;
  font-size: 25px;
  background: #e4e4e4;
  color: #3f4a75;
}

#nameKeypad .keypad-switch {
  width: 180px;
  height: 55px;
  font-size: 30px;
  position: relative;
  top: -2px;
  background: #e4e4e4;
  color: #3f4a75;
}

#nameKeypad .keypad-shift {
  height: 70px;
  width: 140px;
  position: relative;
  top: 8px;
  background: #f5f5f5;
  color: #3f4a75;
  font-size: 30px;
  background: #e4e4e4;
  color: #3f4a75;
}

#nameKeypad .keypad-key {
  width: 35px;
  height: 35px;
  line-height: 32px;
  margin: 0 0 12px 10px;
  font-family: sans-serif;
  background: #e4e4e4;
  color: #3f4a75;
  font-size: 30px;
  position: relative;
  top: 5px;
}

/* 枠線の調整 */
#nameKeypad .keypad-inline {
  background-color: #00ff0000;
  border: 20px solid #00ff0000;
}

/***********************************************
キーパッドの調整:口座番号、暗証番号、新暗証番号
*************************************************/
/* 0~9のキーの設定 */
#acTelKeypad .keypad-key {
  width: 100px;
  height: 80px;
  background: #e4e4e4;
  color: #3f4a75;
  font-weight: bold;
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* 00キーの設定 */
#acTelKeypad .keypad-dec {
  width: 100px;
  height: 80px;
  font-size: 40px;
  background: #e4e4e4;
  color: #3f4a75;
  font-weight:bold;
  margin-right:10px;
  margin-bottom:15px;
  position: absolute;
  left:145px;
}

/* 全削除キーの設定 */
#acTelKeypad .keypad-clear {
  height: 75px;
  width: 160px;
  border: none;
  position: absolute;
  top: 355px;
  left: 390px;
  background: #ffd700;
  font-size:30px;
  color:#434343;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* 一文字削除キーの設定 */
#acTelKeypad .keypad-back {
  height: 75px;
  width: 160px;
  border: none;
  position: absolute;
  top: 455px;
  left: 390px;
  background: #ffd700;
  font-size:30px;
  color:#434343;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* キーパッド全体の設定 */
#acTelKeypad .keypadContainer {
  position: absolute;
  left: 730px;
  top: 100px;
}

/* 暗証番号失念の設定 */
#acTelKeypad .forget {
  height: 75px;
  width: 200px;
  border: none;
  position: absolute;
  top: 270px;
  left: 400px;
  background: #ffd700;
  font-size:30px;
  color:#434343;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* 枠線の調整 */
#acTelKeypad .keypad-inline {
  background-color: #00ff0000;
  border: 20px solid #00ff0000;
}

/* 全削除キーの設定 */
#noStandard #acTelKeypad .keypad-clear {
  top: 405px;
}

/* 一文字削除キーの設定 */
#noStandard #acTelKeypad .keypad-back {
  top: 505px;
}

/***********************************************
はい、いいえボタン
*************************************************/
.footerbutton .no{
  font-size: 25px;
  display:inline-block;
  padding:0.4em 3em;
  /*background:#e1f3ff;*/
  background:#ffd0d0;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
  position:relative;
  left: 440px;
  width:100px;
}

.footerbutton .yes{
  font-size: 25px;
  /*display:inline-block;*/
  padding:0.4em 3em;
  /*background:#e1f3ff;*/
  background:#ffd0d0;
  border-radius: 5px;
  transition:.4s;
  box-shadow:2px 2px 3px 1px #666;
  position:relative;
  left: 400px;
}

.footerbutton .no,.yes {
  width:250px;
}

/***********************************************
場合リンク(Rv用)
*************************************************/
.caseLink {
  position:relative;
  text-align:right;
  margin:-5px 0px -15px 0px;
}

/***********************************************
金額
*************************************************/
.price {
  text-align:right;
}